<% if flash.any? %>
  <div class="content-wrapper buffer-both">
    <% flash.each do |name, message| %>
      <%= content_tag :div, message, class: "flash-#{name}" %>
    <% end %>
  </div>
<% end %>
